api/src/main/resources/xsd/server.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="MediaContainer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Directory" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:int" name="count" use="optional"/>
                                <xs:attribute type="xs:string" name="key" use="optional"/>
                                <xs:attribute type="xs:string" name="title" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="size"/>
            <xs:attribute type="xs:int" name="allowCameraUpload"/>
            <xs:attribute type="xs:int" name="allowChannelAccess"/>
            <xs:attribute type="xs:int" name="allowMediaDeletion"/>
            <xs:attribute type="xs:int" name="allowSharing"/>
            <xs:attribute type="xs:int" name="allowSync"/>
            <xs:attribute type="xs:int" name="allowTuners"/>
            <xs:attribute type="xs:int" name="backgroundProcessing"/>
            <xs:attribute type="xs:int" name="certificate"/>
            <xs:attribute type="xs:int" name="companionProxy"/>
            <xs:attribute type="xs:string" name="diagnostics"/>
            <xs:attribute type="xs:int" name="eventStream"/>
            <xs:attribute type="xs:string" name="friendlyName"/>
            <xs:attribute type="xs:int" name="games"/>
            <xs:attribute type="xs:int" name="hubSearch"/>
            <xs:attribute type="xs:int" name="itemClusters"/>
            <xs:attribute type="xs:int" name="livetv"/>
            <xs:attribute type="xs:string" name="machineIdentifier"/>
            <xs:attribute type="xs:int" name="mediaProviders"/>
            <xs:attribute type="xs:int" name="multiuser"/>
            <xs:attribute type="xs:int" name="myPlex"/>
            <xs:attribute type="xs:string" name="myPlexMappingState"/>
            <xs:attribute type="xs:string" name="myPlexSigninState"/>
            <xs:attribute type="xs:int" name="myPlexSubscription"/>
            <xs:attribute type="xs:string" name="myPlexUsername"/>
            <xs:attribute type="xs:int" name="offlineTranscode"/>
            <xs:attribute type="xs:string" name="ownerFeatures"/>
            <xs:attribute type="xs:int" name="photoAutoTag"/>
            <xs:attribute type="xs:string" name="platform"/>
            <xs:attribute type="xs:string" name="platformVersion"/>
            <xs:attribute type="xs:int" name="pluginHost"/>
            <xs:attribute type="xs:int" name="pushNotifications"/>
            <xs:attribute type="xs:int" name="readOnlyLibraries"/>
            <xs:attribute type="xs:int" name="requestParametersInCookie"/>
            <xs:attribute type="xs:int" name="streamingBrainABRVersion"/>
            <xs:attribute type="xs:int" name="streamingBrainVersion"/>
            <xs:attribute type="xs:int" name="sync"/>
            <xs:attribute type="xs:int" name="transcoderActiveVideoSessions"/>
            <xs:attribute type="xs:int" name="transcoderAudio"/>
            <xs:attribute type="xs:int" name="transcoderLyrics"/>
            <xs:attribute type="xs:int" name="transcoderPhoto"/>
            <xs:attribute type="xs:int" name="transcoderSubtitles"/>
            <xs:attribute type="xs:int" name="transcoderVideo"/>
            <xs:attribute type="xs:string" name="transcoderVideoBitrates"/>
            <xs:attribute type="xs:string" name="transcoderVideoQualities"/>
            <xs:attribute type="xs:string" name="transcoderVideoResolutions"/>
            <xs:attribute type="xs:int" name="updatedAt"/>
            <xs:attribute type="xs:int" name="updater"/>
            <xs:attribute type="xs:string" name="version"/>
            <xs:attribute type="xs:int" name="voiceSearch"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
