api/src/main/resources/xsd/settings.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           jxb:version="2.1">
    <xs:element name="MediaContainer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Setting" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="id"/>
                                <xs:attribute type="xs:string" name="label"/>
                                <xs:attribute type="xs:string" name="summary"/>
                                <xs:attribute type="xs:string" name="type"/>
                                <xs:attribute type="xs:string" name="default"/>
                                <xs:attribute type="xs:string" name="value">
                                    <!-- rename property generated by JAXB (avoiding "Value" name conflict) -->
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <jxb:property name="valueAttribute"/>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute type="xs:int" name="hidden"/>
                                <xs:attribute type="xs:int" name="advanced"/>
                                <xs:attribute type="xs:string" name="group"/>
                                <xs:attribute type="xs:string" name="enumValues"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="size"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
