api/src/main/resources/xsd/shows.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="MediaContainer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Directory" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element name="Genre">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="tag" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Role">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="tag" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Collection">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="tag" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute type="xs:int" name="ratingKey" use="optional"/>
                        <xs:attribute type="xs:string" name="key" use="optional"/>
                        <xs:attribute type="xs:string" name="guid" use="optional"/>
                        <xs:attribute type="xs:string" name="studio" use="optional"/>
                        <xs:attribute type="xs:string" name="type" use="optional"/>
                        <xs:attribute type="xs:string" name="title" use="optional"/>
                        <xs:attribute type="xs:string" name="contentRating" use="optional"/>
                        <xs:attribute type="xs:string" name="summary" use="optional"/>
                        <xs:attribute type="xs:int" name="index" use="optional"/>
                        <xs:attribute type="xs:int" name="viewCount" use="optional"/>
                        <xs:attribute type="xs:int" name="lastViewedAt" use="optional"/>
                        <xs:attribute type="xs:int" name="year" use="optional"/>
                        <xs:attribute type="xs:string" name="thumb" use="optional"/>
                        <xs:attribute type="xs:string" name="art" use="optional"/>
                        <xs:attribute type="xs:string" name="banner" use="optional"/>
                        <xs:attribute type="xs:int" name="duration" use="optional"/>
                        <xs:attribute type="xs:string" name="originallyAvailableAt" use="optional"/>
                        <xs:attribute type="xs:int" name="leafCount" use="optional"/>
                        <xs:attribute type="xs:int" name="viewedLeafCount" use="optional"/>
                        <xs:attribute type="xs:int" name="childCount" use="optional"/>
                        <xs:attribute type="xs:int" name="addedAt" use="optional"/>
                        <xs:attribute type="xs:int" name="updatedAt" use="optional"/>
                        <xs:attribute type="xs:float" name="rating" use="optional"/>
                        <xs:attribute type="xs:string" name="theme" use="optional"/>
                        <xs:attribute type="xs:string" name="titleSort" use="optional"/>
                        <xs:attribute type="xs:int" name="skipCount" use="optional"/>
                        <xs:attribute type="xs:int" name="flattenSeasons" use="optional"/>
                        <xs:attribute type="xs:string" name="showOrdering" use="optional"/>
                        <xs:attribute type="xs:float" name="userRating" use="optional"/>
                        <xs:attribute type="xs:string" name="primaryExtraKey" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="size"/>
            <xs:attribute type="xs:int" name="allowSync"/>
            <xs:attribute type="xs:string" name="art"/>
            <xs:attribute type="xs:string" name="identifier"/>
            <xs:attribute type="xs:int" name="librarySectionID"/>
            <xs:attribute type="xs:string" name="librarySectionTitle"/>
            <xs:attribute type="xs:string" name="librarySectionUUID"/>
            <xs:attribute type="xs:string" name="mediaTagPrefix"/>
            <xs:attribute type="xs:int" name="mediaTagVersion"/>
            <xs:attribute type="xs:int" name="nocache"/>
            <xs:attribute type="xs:string" name="thumb"/>
            <xs:attribute type="xs:string" name="title1"/>
            <xs:attribute type="xs:string" name="title2"/>
            <xs:attribute type="xs:string" name="viewGroup"/>
            <xs:attribute type="xs:int" name="viewMode"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
